In [ ]:
%matplotlib notebook

In [1]:
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [4]:
# Load in csv
rain_df = pd.read_csv("../Resources/avg_rain_state.csv")
rain_df.head()

        State  Inches  Millimetres
0      Alaska    43.2         1098
1     Alabama    58.9         1495
2    Arkansas    55.9         1421
3     Arizona    12.6          321
4  California    22.2          564

In [5]:
# Set x axis and tick locations
rain_df['Inches'].describe()

count    50.000000
mean     41.008000
std      13.863634
min      12.600000
25%      31.425000
50%      45.800000
75%      50.375000
max      61.100000
Name: Inches, dtype: float64

In [ ]:
# Create a list indicating where to write x labels and set figure size to adjust for space

In [ ]:
# Set x and y limits

In [ ]:
# Set a Title and labels

In [ ]:
# Save our graph and show the graph