In [1]:
# Dependencies
import pandas as pd
from pathlib import Path

In [2]:
# Create a reference the CSV file desired
csv_path = Path("Resources/CT_fires_2015.csv")

# Read the CSV into a Pandas DataFrame
fires_df = pd.read_csv(csv_path, low_memory=False)

# Print the first five rows of data to the screen
fires_df.head()

,Reporting Year,Fire Department Header Key,Fire Department Name,Incident date,Incident Number,Exposure Number,Fire Department Station,Incident Type Code,Incident Type,Aid Given or Received Code,...,Mized Use Property Codes,Mixed Use Property,Property Use Code,Property Use,Incident Street Address,Incident Apartment Number,Incident City,Incident Zip Code,Census Tract,Location
0,2015,CT06240,WATERBURY FIRE DEPARTMENT,05/11/2015,6499.0,0,07,440,"Electrical wiring/equipment problem, other.",N,...,NaN,NaN,962.0,"Residential street, road, or residential drive...",GREENLEAF AVE,NaN,WATERBURY,06705,NaN,GREENLEAF AVE06705
1,2015,CT08180,THE TOWN OF SALEM,12/01/2015,24036.0,0,21,111,Building fire. Excludes confined fires (113–118).,3,...,NaN,NaN,NaN,NaN,Route 82,NaN,Salem,06420,NaN,Route 8206420
2,2015,CT08190,STONINGTON FIRE DEPT,09/07/2015,76.0,0,1,400,"Hazardous condition (no fire), other.",N,...,NaN,NaN,0.0,"Property use, other.",Bayview AVE,NaN,Stonington Borough,06378,NaN,Bayview AVE06378
3,2015,CT01012,RIVERTON VOLUNTEER FIRE DEPT,01/02/2015,1.0,0,1,444,Power line down. Excludes people trapped by do...,3,...,NaN,NaN,NaN,NaN,Wallens Hill1 RD,NaN,Riverton,06065,NaN,Wallens Hill1 RD06065
4,2015,CT01070,GOSHEN VOLUNTEER FIRE COMPANY,11/03/2015,37.0,0,NaN,150,"Outside rubbish fire, other.",N,...,NaN,NaN,936.0,"Vacant lot. Undeveloped land, not paved, may i...",E east street south,NaN,Goshen,06756,NaN,E east street south06756

In [ ]:
# Check the names of all the columns and see if there are any rows with missing data

In [ ]:
# Rename mistyped columns "Aid Given or Received Code " and "Propery Loss"

In [ ]:
# Reduce to columns: Reporting Year, Fire Department Name, Incident date, Incident Type,
# Aid Given or Received Code, Aid Given or Received, Number of Alarms, Alarm Date and Time,
# Arrival Date and Time, Last Unit Cleared Date and Time, Actions Taken 1, Actions Taken 2,
# Actions Taken 3, Property Value, Property Loss, Contents Value, Contents Loss,
# Fire Service Deaths, Fire Service Injuries, Other Fire Deaths, Other Fire Injuries,
# Property Use, Incident Street Address, Incident Apartment Number, Incident City, Incident Zip Code

In [ ]:
# Fill NAs for columns "Actions Taken 1", "Actions Taken 2", "Actions Taken 3", 
# and "Incident Apartment Number" with ''
# Fill NAs for columns "Other Fire Deaths", "Other Fire Injuries",
# "Property Loss", and "Contents Loss" with 0

In [ ]:
# Remove remaining rows with missing data

In [ ]:
# Filter data to incidents that caused Property or Contents Loss

In [ ]:
# Count how many incidents occured in each city

In [ ]:
# Convert the city_counts Series into a DataFrame

In [ ]:
# Convert the column name into "Sum of Loss Incidents"

In [ ]:
# Calculate the number of deaths from fire incidents where loss occurred

In [ ]:
# Want to calculate the fire department response time? There is a problem
# Problem can be seen by examining datatypes within the DataFrame

In [ ]:
# Convert relevant date columns to datetime

In [ ]:
# Now it is possible to find the response time in seconds
# Hint: create a new column for "Response Time (seconds)" and use .dt.total_seconds()
# to calculate the seconds

In [ ]:
# Check data for columns of your choosing