In [1]:
# Dependencies
import pandas as pd
from pathlib import Path

In [2]:
# Store filepath in a variable
file = Path("Resources/baton_streets.csv")

In [3]:
# Read our data file with the Pandas library
original_df = pd.read_csv(file)
original_df

,STREET NAME ID,STREET NAME,STREET FULL NAME,POSTAL COMMUNITY,MUNICIPAL COMMUNITY
0,1400342,PRIVATE STREET,PRIVATE STREET,BATON ROUGE,BATON ROUGE
1,1,4TH,N 4TH ST,BATON ROUGE,BATON ROUGE
2,10,11TH,S 11TH ST,BATON ROUGE,BATON ROUGE
3,100,ADDINGTON,ADDINGTON AVE,BATON ROUGE,BATON ROUGE
4,1000,CHALFONT,W CHALFONT DR,BATON ROUGE,PARISH
...,...,...,...,...,...
7890,17182,HIDDEN HOLLOW,HIDDEN HOLLOW RD,PRIDE,PARISH
7891,17183,MAURIEL,MAURIEL LN,BATON ROUGE,PARISH
7892,6077,SHADOWS BEND,SHADOWS BEND DR,BATON ROUGE,BATON ROUGE
7893,17184,LURAY,LURAY LN,BATON ROUGE,PARISH
7894,1400345,PRIVATE STREET,PRIVATE STREET,BATON ROUGE,BATON ROUGE

In [4]:
# Set new index to STREET NAME
df = original_df.set_index("STREET NAME")
df.head()

,STREET NAME ID,STREET FULL NAME,POSTAL COMMUNITY,MUNICIPAL COMMUNITY
STREET NAME,,,,
PRIVATE STREET,1400342,PRIVATE STREET,BATON ROUGE,BATON ROUGE
4TH,1,N 4TH ST,BATON ROUGE,BATON ROUGE
11TH,10,S 11TH ST,BATON ROUGE,BATON ROUGE
ADDINGTON,100,ADDINGTON AVE,BATON ROUGE,BATON ROUGE
CHALFONT,1000,W CHALFONT DR,BATON ROUGE,PARISH

In [6]:
# Get the data contained within the "ADDINGTON" row and the "STREET FULL NAME" column
addington_name = df.loc["ADDINGTON", "STREET FULL NAME"]
print("Using loc: " + addington_name)

also_addington_name = df.iloc[3, 1]
print("Using iloc: " + also_addington_name)

Using loc: ADDINGTON AVE
Using iloc: ADDINGTON AVE

In [ ]:
# Get the first five rows of data and the columns from "STREET NAME ID" to "POSTAL COMMUNITY"
# The problem with using "STREET NAME" as the index is that the values are not unique so duplicates are returned
# If there are duplicates and loc is being used, Pandas will return an error
private_to_chalfont = df.loc[["PRIVATE STREET", "4TH", "11TH", "ADDINGTON", 
                              "CHALFONT"], ["STREET NAME ID", "STREET FULL NAME", "POSTAL COMMUNITY"]]
print(private_to_chalfont)

print()

# Using iloc will not find duplicates since a numeric index is always unique
#also_private_to_chalfont = df.iloc[0:5, 0:3]
#print(also_private_to_chalfont)

In [ ]:
# Using loc to select all rows for the `STREET FULL NAME` and `POSTAL COMMUNITY` columns.
df.loc[:, ["STREET FULL NAME", "POSTAL COMMUNITY"]].head()

In [ ]:
# Using iloc to select all rows for the second and third columns.
df.iloc[:, 1:3].head()

In [ ]:
# The following logic test/conditional statement returns a series of boolean values
municipal_parish = df["MUNICIPAL COMMUNITY"] == "PARISH"
municipal_parish.head()

In [ ]:
# loc will allow for conditional statements to filter rows of data
# Using loc on the logic test above only returns rows where the result is True
only_prairieville = df.loc[df["POSTAL COMMUNITY"] == "PRAIRIEVILLE", :]
print(only_prairieville)

In [ ]:
# iloc will also allow for conditional statements to filter rows of data
# Using iloc on the logic test above only returns rows where the result is True
also_only_prairieville = df[df.iloc[:,2] == "PRAIRIEVILLE"]
print(also_only_prairieville)

In [ ]:
# Multiple conditions can be set to narrow down or widen the filter
only_prairieville_and_jackson = df.loc[(df["POSTAL COMMUNITY"] == "PRAIRIEVILLE") | (
    df["POSTAL COMMUNITY"] == "JACKSON"), :]
print(only_prairieville_and_jackson)