In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

# Import our input dataset
attrition_df = pd.read_csv('https://static.bc-edx.com/data/dl-1-2/m21/lessons/2/HR-Employee-Attrition.csv')
attrition_df

2023-08-22 16:19:40.715746: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

,Unnamed: 0,Age,Attrition,BusinessTravel,DailyRate,Department,Education,JobRole,DistanceFromHome,EnvironmentSatisfaction,...,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,StandardHours,WorkLifeBalance
0,0,35,Yes,Travel_Frequently,502,S,a,l,5,4,...,Divorced,9200,10448,2,Y,Yes,5,1,80,1
1,1,42,No,Non-Travel,497,S,a,l,3,3,...,Single,10719,9049,3,Y,No,7,2,80,4
2,2,34,No,Non-Travel,505,T,e,c,4,3,...,Single,9843,9941,3,Y,No,10,3,80,1
3,3,43,No,Non-Travel,493,T,e,c,5,2,...,Divorced,12077,10150,5,Y,Yes,1,3,80,4
4,4,43,Yes,Travel_Rarely,536,R,e,s,4,4,...,Single,10486,10008,2,Y,No,9,1,80,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1445,1445,32,No,Travel_Rarely,506,S,a,l,2,3,...,Single,8328,9601,4,Y,No,12,2,80,3
1446,1446,44,No,Travel_Frequently,509,S,a,l,4,3,...,Married,9783,10634,2,Y,Yes,10,3,80,3
1447,1447,40,No,Non-Travel,510,S,a,l,3,5,...,Married,10307,9742,3,Y,No,6,4,80,4
1448,1448,30,No,Non-Travel,493,T,e,c,7,2,...,Single,10353,8678,3,Y,Yes,18,2,80,1
1449,1449,55,No,Travel_Rarely,509,R,e,s,3,2,...,Divorced,10276,12054,2,Y,No,7,3,80,3

In [2]:
# Generate our categorical variable lists
attrition_cat = attrition_df.dtypes[attrition_df.dtypes == "object"].index.tolist()

In [3]:
# Check the number of unique values in each column
attrition_df[attrition_cat].nunique()

Attrition         2
BusinessTravel    3
Department        3
Education         2
JobRole           3
Gender            2
MaritalStatus     3
Over18            2
OverTime          2
dtype: int64

In [4]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(attrition_df[attrition_cat]))

# Add the encoded variable names to the dataframe
# encode_df.columns = enc.get_feature_names(attrition_cat)
encode_df.columns = enc.get_feature_names_out(attrition_cat)
encode_df.head()

/Users/jonathanmoo/anaconda3/envs/dev/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_R,Department_S,Department_T,Education_a,Education_e,...,JobRole_s,Gender_F,Gender_M,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_N,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
1,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
3,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
4,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

### What's the difference between one-hot encoding versus pd.get_dummies()?

In layman terms, one-hot encoding is better sometimes because:
* It contains additional categorical information within its object as shown below

In [5]:
enc.categories_

[array(['No', 'Yes'], dtype=object),
 array(['Non-Travel', 'Travel_Frequently', 'Travel_Rarely'], dtype=object),
 array(['R', 'S', 'T'], dtype=object),
 array(['a', 'e'], dtype=object),
 array(['c', 'l', 's'], dtype=object),
 array(['F', 'M'], dtype=object),
 array(['Divorced', 'Married', 'Single'], dtype=object),
 array(['N', 'Y'], dtype=object),
 array(['No', 'Yes'], dtype=object)]

In [6]:
# Merge one-hot encoded features and drop the originals
attrition_df = attrition_df.merge(encode_df,left_index=True, right_index=True)
attrition_df = attrition_df.drop(attrition_cat,1)
attrition_df.head()

/var/folders/b_/jbl5mb_13kd2hfcz2rw_lzm80000gn/T/ipykernel_10727/1667322014.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  attrition_df = attrition_df.drop(attrition_cat,1)

,Unnamed: 0,Age,DailyRate,DistanceFromHome,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,...,JobRole_s,Gender_F,Gender_M,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_N,Over18_Y,OverTime_No,OverTime_Yes
0,0,35,502,5,4,48,4,2,5,9200,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
1,1,42,497,3,3,50,4,3,5,10719,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,2,34,505,4,3,46,2,3,5,9843,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
3,3,43,493,5,2,48,3,1,5,12077,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
4,4,43,536,4,4,53,2,3,2,10486,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [7]:
# Split our preprocessed data into our features and target arrays
y = attrition_df["Attrition_Yes"].values
X = attrition_df.drop(["Attrition_Yes","Attrition_No"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

/var/folders/b_/jbl5mb_13kd2hfcz2rw_lzm80000gn/T/ipykernel_10727/3972905584.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = attrition_df.drop(["Attrition_Yes","Attrition_No"],1).values

In [8]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [9]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 296

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 347 (1.36 KB)
Trainable params: 347 (1.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [10]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [11]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
34/34 [==============================] - 1s 1ms/step - loss: 0.5908 - accuracy: 0.7728
Epoch 2/100
34/34 [==============================] - 0s 960us/step - loss: 0.5368 - accuracy: 0.8335
Epoch 3/100
34/34 [==============================] - 0s 924us/step - loss: 0.4953 - accuracy: 0.8427
Epoch 4/100
34/34 [==============================] - 0s 942us/step - loss: 0.4674 - accuracy: 0.8427
Epoch 5/100
34/34 [==============================] - 0s 978us/step - loss: 0.4513 - accuracy: 0.8427
Epoch 6/100
34/34 [==============================] - 0s 910us/step - loss: 0.4418 - accuracy: 0.8427
Epoch 7/100
34/34 [==============================] - 0s 903us/step - loss: 0.4361 - accuracy: 0.8427
Epoch 8/100
34/34 [==============================] - 0s 1ms/step - loss: 0.4322 - accuracy: 0.8427
Epoch 9/100
34/34 [==============================] - 0s 1ms/step - loss: 0.4294 - accuracy: 0.8427
Epoch 10/100
34/34 [==============================] - 0s 1ms/step - loss: 0.4261 - accuracy: 0.8427
Epoch 11/100
34/34 [==============================] - 0s 1ms/step - loss: 0.4239 - accuracy: 0.8427
Epoch 12/100
34/34 [==============================] - 0s 964us/step - loss: 0.4220 - accuracy: 0.8427
Epoch 13/100
34/34 [==============================] - 0s 954us/step - loss: 0.4210 - accuracy: 0.8427
Epoch 14/100
34/34 [==============================] - 0s 922us/step - loss: 0.4188 - accuracy: 0.8427
Epoch 15/100
34/34 [==============================] - 0s 994us/step - loss: 0.4174 - accuracy: 0.8427
Epoch 16/100
34/34 [==============================] - 0s 1ms/step - loss: 0.4166 - accuracy: 0.8427
Epoch 17/100
34/34 [==============================] - 0s 984us/step - loss: 0.4150 - accuracy: 0.8427
Epoch 18/100
34/34 [==============================] - 0s 1ms/step - loss: 0.4137 - accuracy: 0.8427
Epoch 19/100
34/34 [==============================] - 0s 943us/step - loss: 0.4124 - accuracy: 0.8427
Epoch 20/100
34/34 [==============================] - 0s 1ms/step - loss: 0.4116 - accuracy: 0.8427
Epoch 21/100
34/34 [==============================] - 0s 1ms/step - loss: 0.4106 - accuracy: 0.8427
Epoch 22/100
34/34 [==============================] - 0s 975us/step - loss: 0.4096 - accuracy: 0.8427
Epoch 23/100
34/34 [==============================] - 0s 979us/step - loss: 0.4091 - accuracy: 0.8427
Epoch 24/100
34/34 [==============================] - 0s 937us/step - loss: 0.4077 - accuracy: 0.8427
Epoch 25/100
34/34 [==============================] - 0s 939us/step - loss: 0.4073 - accuracy: 0.8427
Epoch 26/100
34/34 [==============================] - 0s 923us/step - loss: 0.4064 - accuracy: 0.8427
Epoch 27/100
34/34 [==============================] - 0s 915us/step - loss: 0.4056 - accuracy: 0.8427
Epoch 28/100
34/34 [==============================] - 0s 991us/step - loss: 0.4051 - accuracy: 0.8427
Epoch 29/100
34/34 [==============================] - 0s 941us/step - loss: 0.4041 - accuracy: 0.8427
Epoch 30/100
34/34 [==============================] - 0s 944us/step - loss: 0.4033 - accuracy: 0.8427
Epoch 31/100
34/34 [==============================] - 0s 934us/step - loss: 0.4029 - accuracy: 0.8427
Epoch 32/100
34/34 [==============================] - 0s 952us/step - loss: 0.4017 - accuracy: 0.8427
Epoch 33/100
34/34 [==============================] - 0s 968us/step - loss: 0.4012 - accuracy: 0.8427
Epoch 34/100
34/34 [==============================] - 0s 963us/step - loss: 0.4005 - accuracy: 0.8427
Epoch 35/100
34/34 [==============================] - 0s 955us/step - loss: 0.3996 - accuracy: 0.8427
Epoch 36/100
34/34 [==============================] - 0s 941us/step - loss: 0.3988 - accuracy: 0.8427
Epoch 37/100
34/34 [==============================] - 0s 885us/step - loss: 0.3980 - accuracy: 0.8427
Epoch 38/100
34/34 [==============================] - 0s 879us/step - loss: 0.3976 - accuracy: 0.8427
Epoch 39/100
34/34 [==============================] - 0s 884us/step - loss: 0.3969 - accuracy: 0.8427
Epoch 40/100
34/34 [==============================] - 0s 916us/step - loss: 0.3957 - accuracy: 0.8427
Epoch 41/100
34/34 [==============================] - 0s 886us/step - loss: 0.3957 - accuracy: 0.8427
Epoch 42/100
34/34 [==============================] - 0s 933us/step - loss: 0.3949 - accuracy: 0.8436
Epoch 43/100
34/34 [==============================] - 0s 915us/step - loss: 0.3942 - accuracy: 0.8436
Epoch 44/100
34/34 [==============================] - 0s 926us/step - loss: 0.3938 - accuracy: 0.8445
Epoch 45/100
34/34 [==============================] - 0s 945us/step - loss: 0.3928 - accuracy: 0.8436
Epoch 46/100
34/34 [==============================] - 0s 911us/step - loss: 0.3919 - accuracy: 0.8436
Epoch 47/100
34/34 [==============================] - 0s 911us/step - loss: 0.3913 - accuracy: 0.8436
Epoch 48/100
34/34 [==============================] - 0s 891us/step - loss: 0.3907 - accuracy: 0.8445
Epoch 49/100
34/34 [==============================] - 0s 884us/step - loss: 0.3898 - accuracy: 0.8464
Epoch 50/100
34/34 [==============================] - 0s 974us/step - loss: 0.3894 - accuracy: 0.8454
Epoch 51/100
34/34 [==============================] - 0s 907us/step - loss: 0.3887 - accuracy: 0.8454
Epoch 52/100
34/34 [==============================] - 0s 956us/step - loss: 0.3879 - accuracy: 0.8464
Epoch 53/100
34/34 [==============================] - 0s 925us/step - loss: 0.3876 - accuracy: 0.8464
Epoch 54/100
34/34 [==============================] - 0s 910us/step - loss: 0.3868 - accuracy: 0.8464
Epoch 55/100
34/34 [==============================] - 0s 811us/step - loss: 0.3861 - accuracy: 0.8464
Epoch 56/100
34/34 [==============================] - 0s 786us/step - loss: 0.3858 - accuracy: 0.8464
Epoch 57/100
34/34 [==============================] - 0s 877us/step - loss: 0.3854 - accuracy: 0.8464
Epoch 58/100
34/34 [==============================] - 0s 892us/step - loss: 0.3845 - accuracy: 0.8464
Epoch 59/100
34/34 [==============================] - 0s 855us/step - loss: 0.3834 - accuracy: 0.8464
Epoch 60/100
34/34 [==============================] - 0s 885us/step - loss: 0.3833 - accuracy: 0.8464
Epoch 61/100
34/34 [==============================] - 0s 844us/step - loss: 0.3820 - accuracy: 0.8464
Epoch 62/100
34/34 [==============================] - 0s 881us/step - loss: 0.3817 - accuracy: 0.8464
Epoch 63/100
34/34 [==============================] - 0s 873us/step - loss: 0.3809 - accuracy: 0.8464
Epoch 64/100
34/34 [==============================] - 0s 804us/step - loss: 0.3806 - accuracy: 0.8473
Epoch 65/100
34/34 [==============================] - 0s 850us/step - loss: 0.3797 - accuracy: 0.8473
Epoch 66/100
34/34 [==============================] - 0s 887us/step - loss: 0.3790 - accuracy: 0.8473
Epoch 67/100
34/34 [==============================] - 0s 871us/step - loss: 0.3787 - accuracy: 0.8473
Epoch 68/100
34/34 [==============================] - 0s 850us/step - loss: 0.3779 - accuracy: 0.8473
Epoch 69/100
34/34 [==============================] - 0s 850us/step - loss: 0.3772 - accuracy: 0.8473
Epoch 70/100
34/34 [==============================] - 0s 891us/step - loss: 0.3772 - accuracy: 0.8473
Epoch 71/100
34/34 [==============================] - 0s 891us/step - loss: 0.3764 - accuracy: 0.8464
Epoch 72/100
34/34 [==============================] - 0s 882us/step - loss: 0.3762 - accuracy: 0.8473
Epoch 73/100
34/34 [==============================] - 0s 876us/step - loss: 0.3754 - accuracy: 0.8454
Epoch 74/100
34/34 [==============================] - 0s 877us/step - loss: 0.3747 - accuracy: 0.8464
Epoch 75/100
34/34 [==============================] - 0s 886us/step - loss: 0.3740 - accuracy: 0.8473
Epoch 76/100
34/34 [==============================] - 0s 867us/step - loss: 0.3735 - accuracy: 0.8464
Epoch 77/100
34/34 [==============================] - 0s 1ms/step - loss: 0.3730 - accuracy: 0.8464
Epoch 78/100
34/34 [==============================] - 0s 954us/step - loss: 0.3728 - accuracy: 0.8464
Epoch 79/100
34/34 [==============================] - 0s 862us/step - loss: 0.3719 - accuracy: 0.8473
Epoch 80/100
34/34 [==============================] - 0s 908us/step - loss: 0.3716 - accuracy: 0.8464
Epoch 81/100
34/34 [==============================] - 0s 877us/step - loss: 0.3710 - accuracy: 0.8473
Epoch 82/100
34/34 [==============================] - 0s 901us/step - loss: 0.3707 - accuracy: 0.8464
Epoch 83/100
34/34 [==============================] - 0s 895us/step - loss: 0.3699 - accuracy: 0.8473
Epoch 84/100
34/34 [==============================] - 0s 912us/step - loss: 0.3695 - accuracy: 0.8473
Epoch 85/100
34/34 [==============================] - 0s 852us/step - loss: 0.3689 - accuracy: 0.8454
Epoch 86/100
34/34 [==============================] - 0s 845us/step - loss: 0.3694 - accuracy: 0.8473
Epoch 87/100
34/34 [==============================] - 0s 852us/step - loss: 0.3680 - accuracy: 0.8464
Epoch 88/100
34/34 [==============================] - 0s 858us/step - loss: 0.3676 - accuracy: 0.8473
Epoch 89/100
34/34 [==============================] - 0s 880us/step - loss: 0.3670 - accuracy: 0.8473
Epoch 90/100
34/34 [==============================] - 0s 890us/step - loss: 0.3668 - accuracy: 0.8464
Epoch 91/100
34/34 [==============================] - 0s 864us/step - loss: 0.3660 - accuracy: 0.8473
Epoch 92/100
34/34 [==============================] - 0s 861us/step - loss: 0.3656 - accuracy: 0.8473
Epoch 93/100
34/34 [==============================] - 0s 900us/step - loss: 0.3654 - accuracy: 0.8464
Epoch 94/100
34/34 [==============================] - 0s 829us/step - loss: 0.3649 - accuracy: 0.8464
Epoch 95/100
34/34 [==============================] - 0s 856us/step - loss: 0.3638 - accuracy: 0.8482
Epoch 96/100
34/34 [==============================] - 0s 920us/step - loss: 0.3638 - accuracy: 0.8473
Epoch 97/100
34/34 [==============================] - 0s 958us/step - loss: 0.3631 - accuracy: 0.8473
Epoch 98/100
34/34 [==============================] - 0s 839us/step - loss: 0.3623 - accuracy: 0.8482
Epoch 99/100
34/34 [==============================] - 0s 918us/step - loss: 0.3618 - accuracy: 0.8482
Epoch 100/100
34/34 [==============================] - 0s 823us/step - loss: 0.3612 - accuracy: 0.8482

In [12]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

12/12 - 0s - loss: 0.4492 - accuracy: 0.8457 - 119ms/epoch - 10ms/step
Loss: 0.44921332597732544, Accuracy: 0.8457300066947937