In [1]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

# assign the met database to a variable name
db = mongo['met']

# assign the collection to a variable
artifacts = db['artifacts']

In [3]:
# Write an aggregation query that counts the number of documents, grouped by "country"
query = [{'$group': {'_id': "$country", 'count': { '$sum': 1 }}}]

In [4]:
# Run the query with the aggregate method and save the results to a variable
results = list(artifacts.aggregate(query))

In [5]:
# Print the number of countries in the result
print("Number of countries in result: ", len(results))

Number of countries in result:  80

In [8]:
pprint(type(results))

<class 'list'>

In [7]:
# Print the first 10 results
pprint(results[0:10])

[{'_id': 'Costa Rica or Nicaragua', 'count': 1},
 {'_id': 'Costa Rica', 'count': 20},
 {'_id': 'Western Australia', 'count': 6},
 {'_id': 'Zambia', 'count': 1},
 {'_id': 'Australia', 'count': 10},
 {'_id': 'Liberia', 'count': 12},
 {'_id': 'Ethiopia', 'count': 5},
 {'_id': "Côte d'Ivoire", 'count': 55},
 {'_id': 'Sierra Leone', 'count': 4},
 {'_id': 'Madagascar', 'count': 3}]

In [9]:
# Convert mongo result to Pandas DataFrame
result_df = pd.DataFrame(results)

print("Rows in DataFrame: ", len(result_df))
result_df.head(10)

Rows in DataFrame:  80

                       _id  count
0  Costa Rica or Nicaragua      1
1               Costa Rica     20
2        Western Australia      6
3                   Zambia      1
4                Australia     10
5                  Liberia     12
6                 Ethiopia      5
7            Côte d'Ivoire     55
8             Sierra Leone      4
9               Madagascar      3

Data Source: [The Metropolitan Museum of Art](https://www.metmuseum.org/) (2022). The Metropolitan Museum of Art Collection API https://metmuseum.github.io/. Licensed under the [Creative Commons 0 License](https://creativecommons.org/publicdomain/zero/1.0/).<br />
Accessed Oct 3, 2022. Data collected from departmentId=5 ("Arts of Africa, Oceania, and the Americas") and search string "animal".