In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

# Import our input dataset
attrition_df = pd.read_csv('https://static.bc-edx.com/data/dl-1-2/m21/lessons/2/HR-Employee-Attrition.csv')
attrition_df

2023-08-22 16:08:29.242393: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

,Unnamed: 0,Age,Attrition,BusinessTravel,DailyRate,Department,Education,JobRole,DistanceFromHome,EnvironmentSatisfaction,...,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,StandardHours,WorkLifeBalance
0,0,35,Yes,Travel_Frequently,502,S,a,l,5,4,...,Divorced,9200,10448,2,Y,Yes,5,1,80,1
1,1,42,No,Non-Travel,497,S,a,l,3,3,...,Single,10719,9049,3,Y,No,7,2,80,4
2,2,34,No,Non-Travel,505,T,e,c,4,3,...,Single,9843,9941,3,Y,No,10,3,80,1
3,3,43,No,Non-Travel,493,T,e,c,5,2,...,Divorced,12077,10150,5,Y,Yes,1,3,80,4
4,4,43,Yes,Travel_Rarely,536,R,e,s,4,4,...,Single,10486,10008,2,Y,No,9,1,80,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1445,1445,32,No,Travel_Rarely,506,S,a,l,2,3,...,Single,8328,9601,4,Y,No,12,2,80,3
1446,1446,44,No,Travel_Frequently,509,S,a,l,4,3,...,Married,9783,10634,2,Y,Yes,10,3,80,3
1447,1447,40,No,Non-Travel,510,S,a,l,3,5,...,Married,10307,9742,3,Y,No,6,4,80,4
1448,1448,30,No,Non-Travel,493,T,e,c,7,2,...,Single,10353,8678,3,Y,Yes,18,2,80,1
1449,1449,55,No,Travel_Rarely,509,R,e,s,3,2,...,Divorced,10276,12054,2,Y,No,7,3,80,3

In [2]:
# Generate our categorical variable lists
attrition_cat = attrition_df.dtypes[attrition_df.dtypes == "object"].index.tolist()

In [3]:
# Check the number of unique values in each column
attrition_df[attrition_cat].nunique()

Attrition         2
BusinessTravel    3
Department        3
Education         2
JobRole           3
Gender            2
MaritalStatus     3
Over18            2
OverTime          2
dtype: int64

In [4]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(attrition_df[attrition_cat]))

# Add the encoded variable names to the dataframe
# encode_df.columns = enc.get_feature_names(attrition_cat)
encode_df.columns = enc.get_feature_names_out(attrition_cat)
encode_df.head()

/Users/jonathanmoo/anaconda3/envs/dev/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_R,Department_S,Department_T,Education_a,Education_e,...,JobRole_s,Gender_F,Gender_M,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_N,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
1,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
3,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
4,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [5]:
# Merge one-hot encoded features and drop the originals
attrition_df = attrition_df.merge(encode_df,left_index=True, right_index=True)
attrition_df = attrition_df.drop(attrition_cat,1)
attrition_df.head()

/var/folders/b_/jbl5mb_13kd2hfcz2rw_lzm80000gn/T/ipykernel_10560/1667322014.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  attrition_df = attrition_df.drop(attrition_cat,1)

,Unnamed: 0,Age,DailyRate,DistanceFromHome,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,...,JobRole_s,Gender_F,Gender_M,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_N,Over18_Y,OverTime_No,OverTime_Yes
0,0,35,502,5,4,48,4,2,5,9200,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
1,1,42,497,3,3,50,4,3,5,10719,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,2,34,505,4,3,46,2,3,5,9843,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
3,3,43,493,5,2,48,3,1,5,12077,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
4,4,43,536,4,4,53,2,3,2,10486,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [6]:
# Split our preprocessed data into our features and target arrays
y = attrition_df["Attrition_Yes"].values
X = attrition_df.drop(["Attrition_Yes","Attrition_No"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

/var/folders/b_/jbl5mb_13kd2hfcz2rw_lzm80000gn/T/ipykernel_10560/3972905584.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = attrition_df.drop(["Attrition_Yes","Attrition_No"],1).values

In [7]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [8]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 296

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 347 (1.36 KB)
Trainable params: 347 (1.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [9]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [10]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
34/34 [==============================] - 1s 1ms/step - loss: 0.8285 - accuracy: 0.4057
Epoch 2/100
34/34 [==============================] - 0s 1ms/step - loss: 0.7095 - accuracy: 0.5538
Epoch 3/100
34/34 [==============================] - 0s 1ms/step - loss: 0.6349 - accuracy: 0.6964
Epoch 4/100
34/34 [==============================] - 0s 966us/step - loss: 0.5821 - accuracy: 0.7810
Epoch 5/100
34/34 [==============================] - 0s 967us/step - loss: 0.5375 - accuracy: 0.8243
Epoch 6/100
34/34 [==============================] - 0s 976us/step - loss: 0.5027 - accuracy: 0.8372
Epoch 7/100
34/34 [==============================] - 0s 902us/step - loss: 0.4779 - accuracy: 0.8427
Epoch 8/100
34/34 [==============================] - 0s 965us/step - loss: 0.4622 - accuracy: 0.8427
Epoch 9/100
34/34 [==============================] - 0s 4ms/step - loss: 0.4507 - accuracy: 0.8427
Epoch 10/100
34/34 [==============================] - 0s 1ms/step - loss: 0.4431 - accuracy: 0.8436
Epoch 11/100
34/34 [==============================] - 0s 1ms/step - loss: 0.4371 - accuracy: 0.8436
Epoch 12/100
34/34 [==============================] - 0s 927us/step - loss: 0.4329 - accuracy: 0.8436
Epoch 13/100
34/34 [==============================] - 0s 1ms/step - loss: 0.4295 - accuracy: 0.8436
Epoch 14/100
34/34 [==============================] - 0s 993us/step - loss: 0.4262 - accuracy: 0.8436
Epoch 15/100
34/34 [==============================] - 0s 1ms/step - loss: 0.4228 - accuracy: 0.8436
Epoch 16/100
34/34 [==============================] - 0s 1ms/step - loss: 0.4209 - accuracy: 0.8436
Epoch 17/100
34/34 [==============================] - 0s 983us/step - loss: 0.4184 - accuracy: 0.8436
Epoch 18/100
34/34 [==============================] - 0s 1ms/step - loss: 0.4161 - accuracy: 0.8436
Epoch 19/100
34/34 [==============================] - 0s 1ms/step - loss: 0.4143 - accuracy: 0.8436
Epoch 20/100
34/34 [==============================] - 0s 1ms/step - loss: 0.4129 - accuracy: 0.8436
Epoch 21/100
34/34 [==============================] - 0s 1ms/step - loss: 0.4111 - accuracy: 0.8436
Epoch 22/100
34/34 [==============================] - 0s 990us/step - loss: 0.4098 - accuracy: 0.8436
Epoch 23/100
34/34 [==============================] - 0s 1ms/step - loss: 0.4082 - accuracy: 0.8436
Epoch 24/100
34/34 [==============================] - 0s 1ms/step - loss: 0.4068 - accuracy: 0.8436
Epoch 25/100
34/34 [==============================] - 0s 951us/step - loss: 0.4058 - accuracy: 0.8436
Epoch 26/100
34/34 [==============================] - 0s 959us/step - loss: 0.4044 - accuracy: 0.8436
Epoch 27/100
34/34 [==============================] - 0s 946us/step - loss: 0.4035 - accuracy: 0.8436
Epoch 28/100
34/34 [==============================] - 0s 957us/step - loss: 0.4020 - accuracy: 0.8436
Epoch 29/100
34/34 [==============================] - 0s 939us/step - loss: 0.4007 - accuracy: 0.8436
Epoch 30/100
34/34 [==============================] - 0s 940us/step - loss: 0.3996 - accuracy: 0.8436
Epoch 31/100
34/34 [==============================] - 0s 921us/step - loss: 0.3985 - accuracy: 0.8436
Epoch 32/100
34/34 [==============================] - 0s 919us/step - loss: 0.3969 - accuracy: 0.8436
Epoch 33/100
34/34 [==============================] - 0s 928us/step - loss: 0.3958 - accuracy: 0.8436
Epoch 34/100
34/34 [==============================] - 0s 917us/step - loss: 0.3947 - accuracy: 0.8445
Epoch 35/100
34/34 [==============================] - 0s 915us/step - loss: 0.3935 - accuracy: 0.8445
Epoch 36/100
34/34 [==============================] - 0s 1ms/step - loss: 0.3921 - accuracy: 0.8454
Epoch 37/100
34/34 [==============================] - 0s 1ms/step - loss: 0.3911 - accuracy: 0.8445
Epoch 38/100
34/34 [==============================] - 0s 965us/step - loss: 0.3895 - accuracy: 0.8454
Epoch 39/100
34/34 [==============================] - 0s 951us/step - loss: 0.3885 - accuracy: 0.8454
Epoch 40/100
34/34 [==============================] - 0s 946us/step - loss: 0.3874 - accuracy: 0.8445
Epoch 41/100
34/34 [==============================] - 0s 930us/step - loss: 0.3862 - accuracy: 0.8464
Epoch 42/100
34/34 [==============================] - 0s 914us/step - loss: 0.3848 - accuracy: 0.8473
Epoch 43/100
34/34 [==============================] - 0s 923us/step - loss: 0.3833 - accuracy: 0.8491
Epoch 44/100
34/34 [==============================] - 0s 910us/step - loss: 0.3825 - accuracy: 0.8473
Epoch 45/100
34/34 [==============================] - 0s 914us/step - loss: 0.3809 - accuracy: 0.8491
Epoch 46/100
34/34 [==============================] - 0s 887us/step - loss: 0.3795 - accuracy: 0.8473
Epoch 47/100
34/34 [==============================] - 0s 890us/step - loss: 0.3783 - accuracy: 0.8491
Epoch 48/100
34/34 [==============================] - 0s 888us/step - loss: 0.3771 - accuracy: 0.8491
Epoch 49/100
34/34 [==============================] - 0s 872us/step - loss: 0.3756 - accuracy: 0.8482
Epoch 50/100
34/34 [==============================] - 0s 885us/step - loss: 0.3749 - accuracy: 0.8491
Epoch 51/100
34/34 [==============================] - 0s 892us/step - loss: 0.3734 - accuracy: 0.8491
Epoch 52/100
34/34 [==============================] - 0s 889us/step - loss: 0.3719 - accuracy: 0.8500
Epoch 53/100
34/34 [==============================] - 0s 909us/step - loss: 0.3707 - accuracy: 0.8491
Epoch 54/100
34/34 [==============================] - 0s 870us/step - loss: 0.3695 - accuracy: 0.8491
Epoch 55/100
34/34 [==============================] - 0s 783us/step - loss: 0.3688 - accuracy: 0.8482
Epoch 56/100
34/34 [==============================] - 0s 918us/step - loss: 0.3673 - accuracy: 0.8510
Epoch 57/100
34/34 [==============================] - 0s 1ms/step - loss: 0.3666 - accuracy: 0.8491
Epoch 58/100
34/34 [==============================] - 0s 955us/step - loss: 0.3652 - accuracy: 0.8500
Epoch 59/100
34/34 [==============================] - 0s 905us/step - loss: 0.3645 - accuracy: 0.8500
Epoch 60/100
34/34 [==============================] - 0s 892us/step - loss: 0.3635 - accuracy: 0.8519
Epoch 61/100
34/34 [==============================] - 0s 824us/step - loss: 0.3623 - accuracy: 0.8510
Epoch 62/100
34/34 [==============================] - 0s 744us/step - loss: 0.3616 - accuracy: 0.8556
Epoch 63/100
34/34 [==============================] - 0s 859us/step - loss: 0.3606 - accuracy: 0.8528
Epoch 64/100
34/34 [==============================] - 0s 814us/step - loss: 0.3592 - accuracy: 0.8528
Epoch 65/100
34/34 [==============================] - 0s 885us/step - loss: 0.3583 - accuracy: 0.8537
Epoch 66/100
34/34 [==============================] - 0s 922us/step - loss: 0.3575 - accuracy: 0.8556
Epoch 67/100
34/34 [==============================] - 0s 896us/step - loss: 0.3563 - accuracy: 0.8565
Epoch 68/100
34/34 [==============================] - 0s 798us/step - loss: 0.3557 - accuracy: 0.8537
Epoch 69/100
34/34 [==============================] - 0s 774us/step - loss: 0.3545 - accuracy: 0.8574
Epoch 70/100
34/34 [==============================] - 0s 941us/step - loss: 0.3537 - accuracy: 0.8592
Epoch 71/100
34/34 [==============================] - 0s 901us/step - loss: 0.3529 - accuracy: 0.8602
Epoch 72/100
34/34 [==============================] - 0s 906us/step - loss: 0.3515 - accuracy: 0.8574
Epoch 73/100
34/34 [==============================] - 0s 1ms/step - loss: 0.3512 - accuracy: 0.8592
Epoch 74/100
34/34 [==============================] - 0s 927us/step - loss: 0.3500 - accuracy: 0.8602
Epoch 75/100
34/34 [==============================] - 0s 866us/step - loss: 0.3487 - accuracy: 0.8602
Epoch 76/100
34/34 [==============================] - 0s 755us/step - loss: 0.3482 - accuracy: 0.8629
Epoch 77/100
34/34 [==============================] - 0s 884us/step - loss: 0.3477 - accuracy: 0.8611
Epoch 78/100
34/34 [==============================] - 0s 961us/step - loss: 0.3466 - accuracy: 0.8648
Epoch 79/100
34/34 [==============================] - 0s 944us/step - loss: 0.3459 - accuracy: 0.8638
Epoch 80/100
34/34 [==============================] - 0s 866us/step - loss: 0.3449 - accuracy: 0.8629
Epoch 81/100

34/34 [==============================] - 0s 1ms/step - loss: 0.3438 - accuracy: 0.8648
Epoch 82/100
34/34 [==============================] - 0s 935us/step - loss: 0.3426 - accuracy: 0.8657
Epoch 83/100
34/34 [==============================] - 0s 850us/step - loss: 0.3423 - accuracy: 0.8675
Epoch 84/100
34/34 [==============================] - 0s 855us/step - loss: 0.3414 - accuracy: 0.8675
Epoch 85/100
34/34 [==============================] - 0s 871us/step - loss: 0.3401 - accuracy: 0.8684
Epoch 86/100
34/34 [==============================] - 0s 913us/step - loss: 0.3397 - accuracy: 0.8694
Epoch 87/100
34/34 [==============================] - 0s 920us/step - loss: 0.3398 - accuracy: 0.8675
Epoch 88/100
34/34 [==============================] - 0s 862us/step - loss: 0.3380 - accuracy: 0.8694
Epoch 89/100
34/34 [==============================] - 0s 805us/step - loss: 0.3378 - accuracy: 0.8712
Epoch 90/100
34/34 [==============================] - 0s 899us/step - loss: 0.3366 - accuracy: 0.8721
Epoch 91/100
34/34 [==============================] - 0s 927us/step - loss: 0.3359 - accuracy: 0.8703
Epoch 92/100
34/34 [==============================] - 0s 858us/step - loss: 0.3353 - accuracy: 0.8694
Epoch 93/100
34/34 [==============================] - 0s 867us/step - loss: 0.3349 - accuracy: 0.8703
Epoch 94/100
34/34 [==============================] - 0s 906us/step - loss: 0.3333 - accuracy: 0.8703
Epoch 95/100
34/34 [==============================] - 0s 899us/step - loss: 0.3332 - accuracy: 0.8730
Epoch 96/100
34/34 [==============================] - 0s 874us/step - loss: 0.3329 - accuracy: 0.8703
Epoch 97/100
34/34 [==============================] - 0s 881us/step - loss: 0.3321 - accuracy: 0.8730
Epoch 98/100
34/34 [==============================] - 0s 890us/step - loss: 0.3308 - accuracy: 0.8712
Epoch 99/100
34/34 [==============================] - 0s 865us/step - loss: 0.3304 - accuracy: 0.8721
Epoch 100/100
34/34 [==============================] - 0s 888us/step - loss: 0.3300 - accuracy: 0.8740

In [11]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

12/12 - 0s - loss: 0.4577 - accuracy: 0.8457 - 113ms/epoch - 9ms/step
Loss: 0.45766201615333557, Accuracy: 0.8457300066947937