In [1]:
# Import findspark and initialize. 
import findspark
findspark.init()

In [2]:
# Start Spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Retail Transactions").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/08/29 19:40:02 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/08/29 19:40:03 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
23/08/29 19:40:03 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [3]:
# Read in data from S3 Buckets
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/2/retail_transactions.csv"
spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("retail_transactions.csv"), sep=",", header=True)

# Show DataFrame
df.show()

+-----------+----------------+------------------+
|customer_id|transaction_date|transaction_amount|
+-----------+----------------+------------------+
|     CS5295|       11-Feb-13|                35|
|     CS4768|       15-Mar-15|                39|
|     CS2122|       26-Feb-13|                52|
|     CS1217|       16-Nov-11|                99|
|     CS1850|       20-Nov-13|                78|
|     CS5539|       26-Mar-14|                81|
|     CS2724|       06-Feb-12|                93|
|     CS5902|       30-Jan-15|                89|
|     CS6040|       08-Jan-13|                76|
|     CS3802|       20-Aug-13|                75|
|     CS3494|       02-Jul-13|                94|
|     CS3780|       25-Mar-13|                80|
|     CS1171|       03-Nov-12|                59|
|     CS2892|       12-May-13|                43|
|     CS5552|       29-Dec-14|                78|
|     CS6043|       15-Jan-14|                98|
|     CS4147|       08-Jul-13|                81|
|     CS4655|       30-Dec-13|                93|
|     CS3904|       20-Jul-14|               103|
|     CS4102|       09-Jul-11|                96|
+-----------+----------------+------------------+
only showing top 20 rows

In [4]:
# Convert the "transaction_amount" column from the string type to the `float` type.
amountUpdated = df.withColumn("transaction_amount", df["transaction_amount"].cast('float'))

amountUpdated.printSchema()

root
 |-- customer_id: string (nullable = true)
 |-- transaction_date: string (nullable = true)
 |-- transaction_amount: float (nullable = true)

In [5]:
# Find the average "transaction_amount" value by grouping by "customer_id" value.
amountUpdated.groupBy('customer_id').avg().show()

+-----------+-----------------------+
|customer_id|avg(transaction_amount)|
+-----------+-----------------------+
|     CS6001|      69.57894736842105|
|     CS3128|                   64.0|
|     CS5241|      64.05263157894737|
|     CS3155|                  74.32|
|     CS2754|      74.45454545454545|
|     CS3950|      65.73684210526316|
|     CS5130|                  66.64|
|     CS3935|      67.34782608695652|
|     CS3083|      62.88235294117647|
|     CS3587|      69.80952380952381|
|     CS2282|      69.14285714285714|
|     CS1664|                  78.16|
|     CS1802|      70.85185185185185|
|     CS2412|                  67.75|
|     CS4335|                   66.0|
|     CS3997|      69.63157894736842|
|     CS4915|                   67.0|
|     CS3993|                  69.25|
|     CS2811|      65.29411764705883|
|     CS6062|      64.33333333333333|
+-----------+-----------------------+
only showing top 20 rows

In [6]:
# Find the maximum "transaction_amount" value per customer by grouping by "customer_id" value.
amountUpdated.groupBy('customer_id').max().show()

+-----------+-----------------------+
|customer_id|max(transaction_amount)|
+-----------+-----------------------+
|     CS6001|                  105.0|
|     CS3128|                  100.0|
|     CS5241|                   94.0|
|     CS3155|                  105.0|
|     CS2754|                  104.0|
|     CS3950|                  105.0|
|     CS5130|                  104.0|
|     CS3935|                  104.0|
|     CS3083|                   94.0|
|     CS3587|                  105.0|
|     CS2282|                   97.0|
|     CS1664|                  105.0|
|     CS1802|                  104.0|
|     CS2412|                  102.0|
|     CS4335|                   96.0|
|     CS3997|                   99.0|
|     CS4915|                  102.0|
|     CS3993|                  103.0|
|     CS2811|                   96.0|
|     CS6062|                  100.0|
+-----------+-----------------------+
only showing top 20 rows

In [7]:
# Find the sum of the "transaction_amount" values per customer by grouping by "customer_id" value.
amountUpdated.groupBy('customer_id').sum().show()

+-----------+-----------------------+
|customer_id|sum(transaction_amount)|
+-----------+-----------------------+
|     CS6001|                 1322.0|
|     CS3128|                 1472.0|
|     CS5241|                 1217.0|
|     CS3155|                 1858.0|
|     CS2754|                 1638.0|
|     CS3950|                 1249.0|
|     CS5130|                 1666.0|
|     CS3935|                 1549.0|
|     CS3083|                 1069.0|
|     CS3587|                 1466.0|
|     CS2282|                 1452.0|
|     CS1664|                 1954.0|
|     CS1802|                 1913.0|
|     CS2412|                 1084.0|
|     CS4335|                  660.0|
|     CS3997|                 1323.0|
|     CS4915|                 1541.0|
|     CS3993|                 1385.0|
|     CS2811|                 1110.0|
|     CS6062|                  772.0|
+-----------+-----------------------+
only showing top 20 rows

In [8]:
# Find the average "transaction_amount" value per "transaction_date" value.
amountUpdated.groupBy('transaction_date').avg().show()

+----------------+-----------------------+
|transaction_date|avg(transaction_amount)|
+----------------+-----------------------+
|       01-Feb-15|      62.19277108433735|
|       20-Feb-12|      66.10344827586206|
|       22-Jul-12|                   67.0|
|       17-Jan-15|      62.89655172413793|
|       28-Aug-11|      63.70754716981132|
|       29-Jul-12|                   64.7|
|       17-Jan-14|                   62.3|
|       12-Jun-13|      68.32530120481928|
|       23-Oct-12|      65.56666666666666|
|       02-Nov-12|      65.55445544554455|
|       06-Mar-14|       64.3529411764706|
|       11-Sep-12|      68.19540229885058|
|       29-Dec-13|      67.68656716417911|
|       14-Feb-13|     63.857142857142854|
|       18-Aug-13|       67.5764705882353|
|       09-Jan-14|      67.68888888888888|
|       28-May-11|      72.83720930232558|
|       26-Oct-13|      66.19354838709677|
|       21-Nov-11|      65.57142857142857|
|       12-Feb-13|                   64.5|
+----------------+-----------------------+
only showing top 20 rows

In [9]:
# Find the sum of "transaction_amount" values per "transaction_date" value.
amountUpdated.groupBy('transaction_date').sum().show()

+----------------+-----------------------+
|transaction_date|sum(transaction_amount)|
+----------------+-----------------------+
|       01-Feb-15|                 5162.0|
|       20-Feb-12|                 5751.0|
|       22-Jul-12|                 6164.0|
|       17-Jan-15|                 3648.0|
|       28-Aug-11|                 6753.0|
|       29-Jul-12|                 5176.0|
|       17-Jan-14|                 4361.0|
|       12-Jun-13|                 5671.0|
|       23-Oct-12|                 5901.0|
|       02-Nov-12|                 6621.0|
|       06-Mar-14|                 5470.0|
|       11-Sep-12|                 5933.0|
|       29-Dec-13|                 4535.0|
|       14-Feb-13|                 4470.0|
|       18-Aug-13|                 5744.0|
|       09-Jan-14|                 6092.0|
|       28-May-11|                 6264.0|
|       26-Oct-13|                 6156.0|
|       21-Nov-11|                 5508.0|
|       12-Feb-13|                 4902.0|
+----------------+-----------------------+
only showing top 20 rows

In [10]:
# Find the maximum "transaction_amount" value per "transaction_date" value.
amountUpdated.groupBy('transaction_date').max().show()

+----------------+-----------------------+
|transaction_date|max(transaction_amount)|
+----------------+-----------------------+
|       01-Feb-15|                  105.0|
|       20-Feb-12|                  105.0|
|       22-Jul-12|                  105.0|
|       17-Jan-15|                  105.0|
|       28-Aug-11|                  105.0|
|       29-Jul-12|                  104.0|
|       17-Jan-14|                  104.0|
|       12-Jun-13|                  105.0|
|       23-Oct-12|                  105.0|
|       02-Nov-12|                  105.0|
|       06-Mar-14|                  105.0|
|       11-Sep-12|                  105.0|
|       29-Dec-13|                  105.0|
|       14-Feb-13|                  103.0|
|       18-Aug-13|                  105.0|
|       09-Jan-14|                  105.0|
|       28-May-11|                  105.0|
|       26-Oct-13|                  105.0|
|       21-Nov-11|                  105.0|
|       12-Feb-13|                  105.0|
+----------------+-----------------------+
only showing top 20 rows

In [11]:
# Applying arbituary sales tax to a column
amountUpdated = amountUpdated.withColumn('amount_with_tax', amountUpdated['transaction_amount'] * 1.07)

amountUpdated.show()

+-----------+----------------+------------------+------------------+
|customer_id|transaction_date|transaction_amount|   amount_with_tax|
+-----------+----------------+------------------+------------------+
|     CS5295|       11-Feb-13|              35.0|             37.45|
|     CS4768|       15-Mar-15|              39.0|41.730000000000004|
|     CS2122|       26-Feb-13|              52.0|             55.64|
|     CS1217|       16-Nov-11|              99.0|            105.93|
|     CS1850|       20-Nov-13|              78.0| 83.46000000000001|
|     CS5539|       26-Mar-14|              81.0|             86.67|
|     CS2724|       06-Feb-12|              93.0|             99.51|
|     CS5902|       30-Jan-15|              89.0|             95.23|
|     CS6040|       08-Jan-13|              76.0| 81.32000000000001|
|     CS3802|       20-Aug-13|              75.0|             80.25|
|     CS3494|       02-Jul-13|              94.0|100.58000000000001|
|     CS3780|       25-Mar-13|              80.0| 85.60000000000001|
|     CS1171|       03-Nov-12|              59.0|             63.13|
|     CS2892|       12-May-13|              43.0|46.010000000000005|
|     CS5552|       29-Dec-14|              78.0| 83.46000000000001|
|     CS6043|       15-Jan-14|              98.0|            104.86|
|     CS4147|       08-Jul-13|              81.0|             86.67|
|     CS4655|       30-Dec-13|              93.0|             99.51|
|     CS3904|       20-Jul-14|             103.0|110.21000000000001|
|     CS4102|       09-Jul-11|              96.0|            102.72|
+-----------+----------------+------------------+------------------+
only showing top 20 rows

In [14]:
amountUpdated.groupBy('transaction_date').sum().show()

+----------------+-----------------------+--------------------+
|transaction_date|sum(transaction_amount)|sum(amount_with_tax)|
+----------------+-----------------------+--------------------+
|       01-Feb-15|                 5162.0|   5523.339999999998|
|       20-Feb-12|                 5751.0|  6153.5700000000015|
|       22-Jul-12|                 6164.0|   6595.479999999997|
|       17-Jan-15|                 3648.0|             3903.36|
|       28-Aug-11|                 6753.0|   7225.710000000003|
|       29-Jul-12|                 5176.0|             5538.32|
|       17-Jan-14|                 4361.0|             4666.27|
|       12-Jun-13|                 5671.0|  6067.9699999999975|
|       23-Oct-12|                 5901.0|  6314.0700000000015|
|       02-Nov-12|                 6621.0|   7084.470000000002|
|       06-Mar-14|                 5470.0|              5852.9|
|       11-Sep-12|                 5933.0|  6348.3099999999995|
|       29-Dec-13|                 4535.0|   4852.449999999998|
|       14-Feb-13|                 4470.0|              4782.9|
|       18-Aug-13|                 5744.0|   6146.079999999999|
|       09-Jan-14|                 6092.0|  6518.4400000000005|
|       28-May-11|                 6264.0|   6702.479999999999|
|       26-Oct-13|                 6156.0|   6586.919999999999|
|       21-Nov-11|                 5508.0|   5893.560000000001|
|       12-Feb-13|                 4902.0|             5245.14|
+----------------+-----------------------+--------------------+
only showing top 20 rows

In [15]:
# To add a constant value to a column
from pyspark.sql.functions import lit

amountUpdated = amountUpdated.withColumn('sales_tax_rate', lit(0.07))

amountUpdated.show()

+-----------+----------------+------------------+------------------+--------------+
|customer_id|transaction_date|transaction_amount|   amount_with_tax|sales_tax_rate|
+-----------+----------------+------------------+------------------+--------------+
|     CS5295|       11-Feb-13|              35.0|             37.45|          0.07|
|     CS4768|       15-Mar-15|              39.0|41.730000000000004|          0.07|
|     CS2122|       26-Feb-13|              52.0|             55.64|          0.07|
|     CS1217|       16-Nov-11|              99.0|            105.93|          0.07|
|     CS1850|       20-Nov-13|              78.0| 83.46000000000001|          0.07|
|     CS5539|       26-Mar-14|              81.0|             86.67|          0.07|
|     CS2724|       06-Feb-12|              93.0|             99.51|          0.07|
|     CS5902|       30-Jan-15|              89.0|             95.23|          0.07|
|     CS6040|       08-Jan-13|              76.0| 81.32000000000001|          0.07|
|     CS3802|       20-Aug-13|              75.0|             80.25|          0.07|
|     CS3494|       02-Jul-13|              94.0|100.58000000000001|          0.07|
|     CS3780|       25-Mar-13|              80.0| 85.60000000000001|          0.07|
|     CS1171|       03-Nov-12|              59.0|             63.13|          0.07|
|     CS2892|       12-May-13|              43.0|46.010000000000005|          0.07|
|     CS5552|       29-Dec-14|              78.0| 83.46000000000001|          0.07|
|     CS6043|       15-Jan-14|              98.0|            104.86|          0.07|
|     CS4147|       08-Jul-13|              81.0|             86.67|          0.07|
|     CS4655|       30-Dec-13|              93.0|             99.51|          0.07|
|     CS3904|       20-Jul-14|             103.0|110.21000000000001|          0.07|
|     CS4102|       09-Jul-11|              96.0|            102.72|          0.07|
+-----------+----------------+------------------+------------------+--------------+
only showing top 20 rows

In [13]:
# Importing into Pandas for further analysis
## Only do this if you're sure your local machine can handle the load.

import pandas as pd

pandas_df = amountUpdated.toPandas()

pandas_df

       customer_id transaction_date  transaction_amount  amount_with_tax
0           CS5295        11-Feb-13                35.0            37.45
1           CS4768        15-Mar-15                39.0            41.73
2           CS2122        26-Feb-13                52.0            55.64
3           CS1217        16-Nov-11                99.0           105.93
4           CS1850        20-Nov-13                78.0            83.46
...            ...              ...                 ...              ...
124995      CS8433        26-Jun-11                64.0            68.48
124996      CS7232        19-Aug-14                38.0            40.66
124997      CS8731        28-Nov-14                42.0            44.94
124998      CS8133        14-Dec-13                13.0            13.91
124999      CS7996        13-Dec-14                36.0            38.52

[125000 rows x 4 columns]