In [1]:
# Import the Pandas library
import pandas as pd
from pathlib import Path

In [2]:
# Create a reference the CSV file desired
csv_path = Path("Resources/CT_fires_2015.csv")

# Read the CSV into a Pandas DataFrame
fires_df = pd.read_csv(csv_path, low_memory=False)

# Print the first five rows of data to the screen
fires_df.head()

,Reporting Year,Fire Department Header Key,Fire Department Name,Incident date,Incident Number,Exposure Number,Fire Department Station,Incident Type Code,Incident Type,Aid Given or Received Code,...,Mized Use Property Codes,Mixed Use Property,Property Use Code,Property Use,Incident Street Address,Incident Apartment Number,Incident City,Incident Zip Code,Census Tract,Location
0,2015,CT06240,WATERBURY FIRE DEPARTMENT,05/11/2015,6499.0,0,07,440,"Electrical wiring/equipment problem, other.",N,...,NaN,NaN,962.0,"Residential street, road, or residential drive...",GREENLEAF AVE,NaN,WATERBURY,06705,NaN,GREENLEAF AVE06705
1,2015,CT08180,THE TOWN OF SALEM,12/01/2015,24036.0,0,21,111,Building fire. Excludes confined fires (113–118).,3,...,NaN,NaN,NaN,NaN,Route 82,NaN,Salem,06420,NaN,Route 8206420
2,2015,CT08190,STONINGTON FIRE DEPT,09/07/2015,76.0,0,1,400,"Hazardous condition (no fire), other.",N,...,NaN,NaN,0.0,"Property use, other.",Bayview AVE,NaN,Stonington Borough,06378,NaN,Bayview AVE06378
3,2015,CT01012,RIVERTON VOLUNTEER FIRE DEPT,01/02/2015,1.0,0,1,444,Power line down. Excludes people trapped by do...,3,...,NaN,NaN,NaN,NaN,Wallens Hill1 RD,NaN,Riverton,06065,NaN,Wallens Hill1 RD06065
4,2015,CT01070,GOSHEN VOLUNTEER FIRE COMPANY,11/03/2015,37.0,0,NaN,150,"Outside rubbish fire, other.",N,...,NaN,NaN,936.0,"Vacant lot. Undeveloped land, not paved, may i...",E east street south,NaN,Goshen,06756,NaN,E east street south06756

In [3]:
# Rename mistyped columns "Propery Loss"
fires_df = fires_df.rename(columns={"Propery Loss": "Property Loss"})

# Reduce to columns: Fire Department Name, Incident date, Incident Type Code, Incident Type,
# Alarm Date and Time, Arrival Date and Time, Last Unit Cleared Date and Time, 
# Property Loss, Contents Loss, Fire Service Deaths, Fire Service Injuries, 
# Other Fire Deaths, Other Fire Injuries, Incident City, Incident Zip Code

fires_reduced = fires_df[["Fire Department Name", "Incident date", "Incident Type Code",
                          "Incident Type", "Alarm Date and Time", "Arrival Date and Time", 
                          "Last Unit Cleared Date and Time", "Property Loss", "Contents Loss", 
                          "Fire Service Deaths", "Fire Service Injuries", "Other Fire Deaths", 
                          "Other Fire Injuries", "Incident City", "Incident Zip Code"]]
fires_reduced.head()

,Fire Department Name,Incident date,Incident Type Code,Incident Type,Alarm Date and Time,Arrival Date and Time,Last Unit Cleared Date and Time,Property Loss,Contents Loss,Fire Service Deaths,Fire Service Injuries,Other Fire Deaths,Other Fire Injuries,Incident City,Incident Zip Code
0,WATERBURY FIRE DEPARTMENT,05/11/2015,440,"Electrical wiring/equipment problem, other.",05/11/2015 03:04:00 PM,05/11/2015 03:12:00 PM,05/11/2015 03:18:00 PM,NaN,NaN,0.0,0.0,NaN,NaN,WATERBURY,06705
1,THE TOWN OF SALEM,12/01/2015,111,Building fire. Excludes confined fires (113–118).,12/01/2015 09:14:00 AM,12/01/2015 09:19:00 AM,12/01/2015 09:42:00 AM,NaN,NaN,0.0,0.0,NaN,NaN,Salem,06420
2,STONINGTON FIRE DEPT,09/07/2015,400,"Hazardous condition (no fire), other.",09/07/2015 05:50:00 PM,09/07/2015 05:54:00 PM,09/07/2015 06:30:00 PM,NaN,NaN,0.0,0.0,NaN,NaN,Stonington Borough,06378
3,RIVERTON VOLUNTEER FIRE DEPT,01/02/2015,444,Power line down. Excludes people trapped by do...,01/02/2015 12:06:00 PM,01/02/2015 12:13:00 PM,01/02/2015 01:58:00 PM,NaN,NaN,0.0,0.0,NaN,NaN,Riverton,06065
4,GOSHEN VOLUNTEER FIRE COMPANY,11/03/2015,150,"Outside rubbish fire, other.",11/03/2015 03:06:00 AM,11/03/2015 03:10:00 AM,11/03/2015 03:45:00 AM,0.0,0.0,0.0,0.0,NaN,NaN,Goshen,06756

In [4]:
# The columns we selected with missing data are all numbers, so we can fill NAs with 0
fires_cleaned_df = fires_reduced.fillna(0)
fires_cleaned_df.count()

Fire Department Name               34125
Incident date                      34125
Incident Type Code                 34125
Incident Type                      34125
Alarm Date and Time                34125
Arrival Date and Time              34125
Last Unit Cleared Date and Time    34125
Property Loss                      34125
Contents Loss                      34125
Fire Service Deaths                34125
Fire Service Injuries              34125
Other Fire Deaths                  34125
Other Fire Injuries                34125
Incident City                      34125
Incident Zip Code                  34125
dtype: int64

In [5]:
fires_cleaned_df.head()

,Fire Department Name,Incident date,Incident Type Code,Incident Type,Alarm Date and Time,Arrival Date and Time,Last Unit Cleared Date and Time,Property Loss,Contents Loss,Fire Service Deaths,Fire Service Injuries,Other Fire Deaths,Other Fire Injuries,Incident City,Incident Zip Code
0,WATERBURY FIRE DEPARTMENT,05/11/2015,440,"Electrical wiring/equipment problem, other.",05/11/2015 03:04:00 PM,05/11/2015 03:12:00 PM,05/11/2015 03:18:00 PM,0.0,0.0,0.0,0.0,0.0,0.0,WATERBURY,06705
1,THE TOWN OF SALEM,12/01/2015,111,Building fire. Excludes confined fires (113–118).,12/01/2015 09:14:00 AM,12/01/2015 09:19:00 AM,12/01/2015 09:42:00 AM,0.0,0.0,0.0,0.0,0.0,0.0,Salem,06420
2,STONINGTON FIRE DEPT,09/07/2015,400,"Hazardous condition (no fire), other.",09/07/2015 05:50:00 PM,09/07/2015 05:54:00 PM,09/07/2015 06:30:00 PM,0.0,0.0,0.0,0.0,0.0,0.0,Stonington Borough,06378
3,RIVERTON VOLUNTEER FIRE DEPT,01/02/2015,444,Power line down. Excludes people trapped by do...,01/02/2015 12:06:00 PM,01/02/2015 12:13:00 PM,01/02/2015 01:58:00 PM,0.0,0.0,0.0,0.0,0.0,0.0,Riverton,06065
4,GOSHEN VOLUNTEER FIRE COMPANY,11/03/2015,150,"Outside rubbish fire, other.",11/03/2015 03:06:00 AM,11/03/2015 03:10:00 AM,11/03/2015 03:45:00 AM,0.0,0.0,0.0,0.0,0.0,0.0,Goshen,06756

In [6]:
# Convert relevant date columns to datetime
converted_fires_df = fires_cleaned_df.copy()
converted_fires_df = converted_fires_df.astype({"Incident date": "datetime64",
    "Alarm Date and Time": "datetime64",
    "Arrival Date and Time": "datetime64",
    "Last Unit Cleared Date and Time": "datetime64"})

converted_fires_df.head()

,Fire Department Name,Incident date,Incident Type Code,Incident Type,Alarm Date and Time,Arrival Date and Time,Last Unit Cleared Date and Time,Property Loss,Contents Loss,Fire Service Deaths,Fire Service Injuries,Other Fire Deaths,Other Fire Injuries,Incident City,Incident Zip Code
0,WATERBURY FIRE DEPARTMENT,2015-05-11,440,"Electrical wiring/equipment problem, other.",2015-05-11 15:04:00,2015-05-11 15:12:00,2015-05-11 15:18:00,0.0,0.0,0.0,0.0,0.0,0.0,WATERBURY,06705
1,THE TOWN OF SALEM,2015-12-01,111,Building fire. Excludes confined fires (113–118).,2015-12-01 09:14:00,2015-12-01 09:19:00,2015-12-01 09:42:00,0.0,0.0,0.0,0.0,0.0,0.0,Salem,06420
2,STONINGTON FIRE DEPT,2015-09-07,400,"Hazardous condition (no fire), other.",2015-09-07 17:50:00,2015-09-07 17:54:00,2015-09-07 18:30:00,0.0,0.0,0.0,0.0,0.0,0.0,Stonington Borough,06378
3,RIVERTON VOLUNTEER FIRE DEPT,2015-01-02,444,Power line down. Excludes people trapped by do...,2015-01-02 12:06:00,2015-01-02 12:13:00,2015-01-02 13:58:00,0.0,0.0,0.0,0.0,0.0,0.0,Riverton,06065
4,GOSHEN VOLUNTEER FIRE COMPANY,2015-11-03,150,"Outside rubbish fire, other.",2015-11-03 03:06:00,2015-11-03 03:10:00,2015-11-03 03:45:00,0.0,0.0,0.0,0.0,0.0,0.0,Goshen,06756

In [7]:
# Create a new column for "Response Time (seconds)" and calculate
converted_fires_df["Response Time (seconds)"] = converted_fires_df["Arrival Date and Time"] - converted_fires_df["Alarm Date and Time"]
converted_fires_df["Response Time (seconds)"] = converted_fires_df["Response Time (seconds)"].dt.total_seconds()
converted_fires_df["Response Time (seconds)"] = converted_fires_df["Response Time (seconds)"].astype("int")

# Create a new column for "Incident Duration (seconds)" and calculate
converted_fires_df["Incident Duration (seconds)"] = converted_fires_df["Last Unit Cleared Date and Time"] - converted_fires_df["Alarm Date and Time"]
converted_fires_df["Incident Duration (seconds)"] = converted_fires_df["Incident Duration (seconds)"].dt.total_seconds()
converted_fires_df["Incident Duration (seconds)"] = converted_fires_df["Incident Duration (seconds)"].astype("int")

converted_fires_df.head(10)

,Fire Department Name,Incident date,Incident Type Code,Incident Type,Alarm Date and Time,Arrival Date and Time,Last Unit Cleared Date and Time,Property Loss,Contents Loss,Fire Service Deaths,Fire Service Injuries,Other Fire Deaths,Other Fire Injuries,Incident City,Incident Zip Code,Response Time (seconds),Incident Duration (seconds)
0,WATERBURY FIRE DEPARTMENT,2015-05-11,440,"Electrical wiring/equipment problem, other.",2015-05-11 15:04:00,2015-05-11 15:12:00,2015-05-11 15:18:00,0.0,0.0,0.0,0.0,0.0,0.0,WATERBURY,06705,480,840
1,THE TOWN OF SALEM,2015-12-01,111,Building fire. Excludes confined fires (113–118).,2015-12-01 09:14:00,2015-12-01 09:19:00,2015-12-01 09:42:00,0.0,0.0,0.0,0.0,0.0,0.0,Salem,06420,300,1680
2,STONINGTON FIRE DEPT,2015-09-07,400,"Hazardous condition (no fire), other.",2015-09-07 17:50:00,2015-09-07 17:54:00,2015-09-07 18:30:00,0.0,0.0,0.0,0.0,0.0,0.0,Stonington Borough,06378,240,2400
3,RIVERTON VOLUNTEER FIRE DEPT,2015-01-02,444,Power line down. Excludes people trapped by do...,2015-01-02 12:06:00,2015-01-02 12:13:00,2015-01-02 13:58:00,0.0,0.0,0.0,0.0,0.0,0.0,Riverton,06065,420,6720
4,GOSHEN VOLUNTEER FIRE COMPANY,2015-11-03,150,"Outside rubbish fire, other.",2015-11-03 03:06:00,2015-11-03 03:10:00,2015-11-03 03:45:00,0.0,0.0,0.0,0.0,0.0,0.0,Goshen,06756,240,2340
5,THOMASTON FIRE DEPT,2015-04-04,444,Power line down. Excludes people trapped by do...,2015-04-04 12:37:00,2015-04-04 12:40:00,2015-04-04 14:00:00,0.0,0.0,0.0,0.0,0.0,0.0,Thomaston,06787,180,4980
6,SHARON FIRE DEPARTMENT,2015-05-06,444,Power line down. Excludes people trapped by do...,2015-05-06 16:53:00,2015-05-06 17:00:00,2015-05-06 19:21:00,0.0,0.0,0.0,0.0,0.0,0.0,Sharon,06069,420,8880
7,SHARON FIRE DEPARTMENT,2015-05-07,412,Gas leak (natural gas or LPG). Excludes gas od...,2015-05-07 22:11:00,2015-05-07 22:15:00,2015-05-07 22:46:00,0.0,0.0,0.0,0.0,0.0,0.0,Sharon,06069,240,2100
8,SHARON FIRE DEPARTMENT,2015-09-27,460,"Accident, potential accident, other.",2015-09-27 18:59:00,2015-09-27 19:04:00,2015-09-27 19:27:00,0.0,0.0,0.0,0.0,0.0,0.0,Sharon,06069,300,1680
9,WATERTOWN FIRE DEPT,2015-05-30,445,"Arcing, shorted electrical equipment.",2015-05-30 21:00:00,2015-05-30 21:10:00,2015-05-30 21:31:00,0.0,0.0,0.0,0.0,0.0,0.0,WATERTOWN,06795,600,1860

In [ ]:
# Count how many total incidents have occured within each city
city_counts = converted_fires_df["Incident City"].value_counts()
city_counts.head()

In [ ]:
# Some cities have a lot of incidents
# Let's filter the data to only incidents of loss
loss_df = converted_fires_df.loc[(fires_reduced["Property Loss"] > 0) | 
                    (fires_reduced["Contents Loss"] > 0),:]
loss_df.head()

In [ ]:
# Count how many loss incidents have occured in each city
city_loss_counts = loss_df["Incident City"].value_counts()
city_loss_counts.head()

In [ ]:
# Count how many loss incidents occurred in each city
grouped_city_df = loss_df.groupby(["Incident City"])

print(grouped_city_df)

grouped_city_df.count().head(10)

In [ ]:
# Get the total property and content losses.
grouped_city_df[["Property Loss", "Contents Loss"]].sum()

In [ ]:
# Save loss sums as series
city_property_loss = grouped_city_df["Property Loss"].sum()
city_contents_loss = grouped_city_df["Contents Loss"].sum()
city_contents_loss.head()

In [ ]:
# Create a new DataFrame using count and loss amounts
city_summary_df = pd.DataFrame({"Number of Loss Incidents": city_loss_counts,
                                "Total Property Loss": city_property_loss,
                               "Total Contents Loss": city_contents_loss})
city_summary_df.head()

In [ ]:
# It is also possible to group a DataFrame by multiple columns
# This returns an object with multiple indexes, however, which can be harder to deal with
grouped_city_loss_incidents = loss_df.groupby(["Incident City","Incident Type Code"])

grouped_city_loss_incidents.count().head(10)

In [ ]:
# Converting a GroupBy object into a DataFrame
total_city_loss_df = pd.DataFrame(
    grouped_city_loss_incidents[["Property Loss", "Contents Loss"]].sum())
total_city_loss_df.head(10)

In [ ]:
# GroupBy is also useful for situations where you may want to calculate the average
incident_time_df = converted_fires_df[["Incident City","Response Time (seconds)", "Incident Duration (seconds)"]]
incident_time_df.groupby(["Incident City"]).mean().head(10)